.project-back{
    height: 100%;
    background-image: url('../../../public/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 40px;
}